      .autocomplete-container {
            border: 1px solid #999;
            background: #FFF;
            overflow: auto;
            box-sizing: border-box;
        }
        
        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .autocomplete-selected {
            background: #F0F0F0;
        }
        
        .autocomplete-container .autocomplete-highlight {
            font-weight: normal;
            color: #3399FF;
        }

        .autocomplete-hint{
            color: '#898989'
        }
        
        .autocomplete-group {
            padding: 2px 5px;
        }
        
        .autocomplete-group .autocomplete-highlight {
            display: block;
            border-bottom: 1px solid #000;
        }
